on: push
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER }}
          username: student
          key: ${{ secrets.SSH }}
          script: |
            echo ${{ secrets.BOT_TOKEN }} 
